<mat-toolbar>Brainstorm</mat-toolbar>
<div fxLayout="column">
  <mat-card class="mat-card-tip">
    <mat-icon>info_outline</mat-icon>
    <p>Tip: {{tipsForStudyArray[randomTipIndex]}}</p>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="1em">

  <mat-card fxFlex="30" class="mat-card-transparent">
    <div>
      <h2>Groups</h2>
      <mat-form-field class="full-width">
        <input id="groupFilter" matInput placeholder="Filter" (input)="onGroupFilterInputChanged($event)">
      </mat-form-field>
      <div>
        <mat-form-field>
          <input matInput placeholder="New group" [(ngModel)]="newGroup.title" minlength="3">
        </mat-form-field>
        <button mat-button [disabled]="newGroup.title.length == 0" (click)="onAddNewGroupItem()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div>
        <button mat-raised-button color="accent" class="full-width" [disabled]="!stormArray.length" (click)="onStartStormClicked()">Study
          selected</button>
      </div>

      <mat-spinner *ngIf="isAPICallInProcess"></mat-spinner>
      <div *ngIf="!groupArray.length">
        <span>
          <mat-icon>info_outline</mat-icon> No group has been added yet.
        </span>
      </div>

      <mat-selection-list>
        <mat-list-option *ngFor="let group of groupArray" (click)="onGroupItemSelected(group)">
          <mat-icon matListIcon>folder</mat-icon>
          <div style="display: inline-flex;">
            {{group.title}}
            <mat-chip-list style="position:absolute; top:0.5em; right:3em;">
              <mat-chip color="accent" selected>0%</mat-chip>
              <mat-chip color="primary" selected>{{group.stormArray.length}}</mat-chip>
            </mat-chip-list>
          </div>
          <mat-icon matListIcon (click)="onGroupItemDelete(group)">delete_outline</mat-icon>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-card>

  <mat-card fxFlex class="mat-card-transparent" #Storm id="storm">
    <div>
      <mat-card *ngIf="selectedGroup">
        <div *ngIf="selectedGroup">
          <h1> {{selectedGroup.title}} </h1>
          <span>
            <mat-icon>info_outline</mat-icon> You can add new card to the folder here.
          </span>
        </div>
        <div #mindMap id="mindMap"></div>
        <div>
        </div>
        <div>
          <mat-form-field class="full-width">
            <textarea rows="2" matInput placeholder="Question" [(ngModel)]="newStorm.question" minlength="3"> </textarea>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="newStorm.hintArray[0]" placeholder="Hint" minlength="3">
          </mat-form-field>
        </div>
        <mat-chip-list>
          <mat-chip color="accent" selected>Youtube</mat-chip>
          <mat-chip color="primary" disabled>Image</mat-chip>

          <mat-form-field class="full-width">
            <input matInput placeholder="Youtube link" [(ngModel)]="newStorm.youtubeLinkArray[0]" minlength="3">
          </mat-form-field>
        </mat-chip-list>
        <div>
          <mat-form-field class="full-width">
            <textarea rows="4" matInput placeholder="Answer" [(ngModel)]="newStorm.answer" minlength="3"></textarea>
          </mat-form-field>
        </div>

        <button mat-raised-button color="primary" [disabled]="!newStorm.question" (click)="onAddNewStormItem()">Add a
          new storm</button>
      </mat-card>

      <h2>Storms</h2>
      <mat-form-field class="full-width">
        <input id="stormFilter" matInput placeholder="Filter" (input)="onStormFilterInputChanged($event)">
      </mat-form-field>
      <app-storm *ngFor="let storm of stormArray" [data]="storm"></app-storm>

      <div *ngIf="!stormArray.length">
        <span>
          <mat-icon>info_outline</mat-icon> No storm has been added yet.
        </span>
      </div>
    </div>
  </mat-card>

</div>
