<mat-card>
  <mat-chip-list>
    <mat-chip *ngFor="let hint of data.hintArray">{{hint}}</mat-chip>
    <a *ngFor="let link of data.youtubeLinkArray" href="{{link}}" target="_blank">
      <mat-chip color="accent" selected>Youtube</mat-chip>
    </a>
  </mat-chip-list>

  <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="1em">
    <textarea readonly class="textarea-bold" matInput [value]="data.question" row="2"></textarea>
    <textarea matInput [value]="data.answer"></textarea>
  </div>
</mat-card>
