mat-card
{
  margin: 5em;
}

.large-icon
{
  font-size: 72px;
}


mat-progress-bar
{
  height: 15px;
}

.card-placeholder
{
  position: absolute;
  top: 0px;
  left: -4em;
  height: 164px;
  width: 94%;
  z-index: -1;
}
