<mat-progress-bar mode="determinate" [value]="gameProgressValue"></mat-progress-bar>
<mat-icon class="large-icon" (click)="onBackLogoClicked()">play_circle_filled</mat-icon>
<h2>{{group.title}}</h2>

<div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="1em">
  <mat-card fxFlex>
    <div *ngIf="!userFinished">
      <h2>{{group.stormArray[actualStormIndex].question}}</h2>

      <mat-chip-list>
        <mat-chip *ngFor="let hint of group.stormArray[actualStormIndex].hintArray" selected>
          {{hint}}
        </mat-chip>
        <a *ngFor="let link of group.stormArray[actualStormIndex].youtubeLinkArray" href="{{link}}" target="_blank">
          <mat-chip color="accent" selected>Youtube</mat-chip>
        </a>
      </mat-chip-list>

      <mat-form-field class="full-width">
        <textarea id="answer" matInput placeholder="Answer" [(ngModel)]="answerInput"> </textarea>
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="onSubmitClick()" [disabled]="answerInput.length == 0">Submit</button>
      <button mat-raised-button>Skip</button>
    </div>

    <div *ngIf="userFinished">
      <h1>Congratulations</h1>
      <h2>{{stat.good_answers.length}} / {{stat.good_answers.length + stat.bad_answers.length}}</h2>
      <h2>Storms what you knew:</h2>
      <div *ngFor="let answer of stat.good_answers">
        <p>{{answer.storm.question}}</p>
      </div>

      <h2>Storms what you did not know:</h2>
      <div *ngFor="let answer of stat.bad_answers">
        <p>{{answer.storm.question}}</p>
      </div>
      <button mat-raised-button color="primary" (click)="onRestartButtonClicked()">Restart</button>
      <button mat-raised-button color="primary" (click)="onBackLogoClicked()">Back to Dashboard</button>
    </div>
  </mat-card>
</div>
