/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/** Turn off default margin for body **/
body
{
  margin: 0em;
  background: #eaebef;
}


.full-width {
  width:100%;
}
