/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* For mindMap */
@import "node_modules/vis/dist/vis.css";

/** Turn off default margin for body **/
body
{
  margin: 0em;
  background: #eaebef;
}


.full-width {
  width:100%;
}


.snackbar-good
{
  background: #38d81b;
  color: white;
}
.snackbar-good .mat-button-wrapper
{
  color: white;
}
.snackbar-bad
{
  background: #e40000;
  color: white;
}
.snackbar-bad .mat-button-wrapper
{
  color: white;
}
